@import "destyle.css";
* {
  padding: 0;
  margin: 0;
  color: #F3F1E5;
  line-height: 120%;
}

a {
  text-decoration: none;
  display: flex;
}

body {
  background-color: black;
  min-height: 100vh;
}

input, textarea, .selectSectorBtn {
  width: 320px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #000000;
  color: #202020;
  text-align: left;
  font-weight: 600;
  background-color: #F3F1E5;
  outline: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  transition: all 0.35s linear;
}
input:focus, input:hover, textarea:focus, textarea:hover, .selectSectorBtn:focus, .selectSectorBtn:hover {
  box-shadow: 0 0 20px rgb(255, 255, 255);
  outline: none;
}

label {
  cursor: text;
  position: absolute;
  width: 100%;
  top: 16px;
  left: 11px;
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}
label.typed, label.toTop {
  top: -22px;
  color: #F3F1E5;
}

.container {
  width: min(100% - 15px, 100vw);
  margin-inline: auto;
}

.button {
  padding: 10px 20px;
  font-weight: 600;
  background-color: rgba(236, 227, 227, 0.1);
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  cursor: pointer;
  transition: all 0.35s linear;
  text-transform: uppercase;
}

.button:hover {
  background-color: rgba(236, 227, 227, 0.2);
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.bgWrap img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  opacity: 0.2;
  filter: blur(5px);
}

/* <------------> */
/* HEADER */
/* <------------> */
header {
  padding: 30px 0;
}
header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav img {
  width: 75px;
  height: 75px;
  opacity: 0.75;
}
header .container nav .button {
  padding: 10px 20px;
}

/* <------------> */
/* //HEADER */
/* <------------> */
/* <------------> */
/* MAIN */
/* <------------> */
main {
  padding-top: 25px;
  text-align: center;
}

.mainBanner h1, .successPage h1 {
  font-size: 120px;
  font-weight: 900;
  margin-bottom: 30px;
  line-height: 100%;
}
.mainBanner h1 span, .successPage h1 span {
  margin-left: 40px;
  line-height: 100%;
  background: -webkit-linear-gradient(65deg, #a20e0e, #ea1919);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 2px 2px rgba(206, 19, 19, 0.4);
}
.mainBanner p, .successPage p {
  font-size: 20px;
  margin: auto auto 30px auto;
  max-width: 50%;
  font-weight: 500;
}

/* <------------> */
/* // MAIN */
/* <------------> */
/* <------------> */
/* PROJECTS */
/* <------------> */
.projects {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}
.projects .searchbarBox {
  margin: auto auto 30px auto;
  text-align: left;
  width: 320px;
  position: relative;
}
.projects .searchbarBox:focus-within label {
  top: -22px;
  color: #F3F1E5;
}
.projects .searchbarBox label {
  cursor: text;
}
.projects .filters {
  border-top: 1px solid rgba(255, 255, 255, 0.45);
  padding-top: 15px;
  justify-content: space-between;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.projects .filters .button {
  width: 100%;
}
.projects .filters .button.active {
  animation: blinking 1.5s linear infinite;
}
.projects .projectsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 15px;
}
.projects .projectsBox .item {
  display: flex;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 15px;
  padding: 15px;
  text-align: left;
  flex: 0 1 calc(25% - 23px);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.3);
}
.projects .projectsBox .item:hover {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.projects .projectsBox .item:hover img {
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 20px white;
}
.projects .projectsBox .item .bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.projects .projectsBox .item .bio .nameSector {
  display: flex;
  flex-direction: column;
}
.projects .projectsBox .item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.projects .projectsBox .item span {
  font-size: 20px;
  font-weight: 500;
}
.projects .projectsBox .item small {
  font-size: 14px;
  font-weight: 400;
}
.projects .button {
  width: 160px;
  padding: 10px;
}
.projects .button.blinking {
  animation: blinking 1.5s linear infinite;
}

/* <------------> */
/* //PROJECTS */
/* <------------> */
/* <------------> */
/* //FOOTER */
/* <------------> */
footer {
  padding: 10px 0;
}
footer p a {
  display: inline;
  background: -webkit-linear-gradient(65deg, #a20e0e, #ef0505);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

/* <------------> */
/* //FOOTER */
/* <------------> */
/* <------------> */
/* ANIMATIONS */
/* <------------> */
@keyframes blinking {
  0% {
    border: 1px solid rgba(255, 255, 255, 0.65);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 15px rgb(255, 255, 255);
  }
  100% {
    border: 1px solid rgba(255, 255, 255, 0.65);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}
/* <------------> */
/* ANIMATIONS */
/* <------------> */

/*# sourceMappingURL=style.css.map */
