*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ece3e3;
}
a{
  text-decoration: none;
  display: flex;
}
body{
  background-color: black;
  min-height: 100vh;
}
.container{
  width: min(100% - 15px, 1400px);
  margin-inline: auto;
}
.button{
  padding: 10px 20px;
  color: #ece3e3;
  font-weight: 600;
  background-color: rgba(236, 227, 227, .1);
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  cursor: pointer;
  transition: all .35s linear;
  text-transform: uppercase;
}
.button:hover{
  background-color: rgba(236, 227, 227, .2);
  border: 1px solid rgba(255, 255, 255, 1);
  color: #fff;
}
.bgWrap{
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
.bgWrap img{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  opacity: .2;
  filter: blur(5px);
}

/* <------------> */
/* HEADER */
/* <------------> */

header{
  padding: 30px 0;
  .container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
      width: 75px;
      height: 75px;
      opacity: .75;
    }
    .button{
      padding: 10px 20px;
    }
  }
}
/* <------------> */
/* //HEADER */
/* <------------> */

/* <------------> */
/* MAIN */
/* <------------> */

main{
  padding-top: 100px;
  text-align: center;
}
.mainBanner{
  h1{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 30px;
    span{
      background: -webkit-linear-gradient(65deg , #a20e0e, #ea1919);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 1px 2px 2px rgba(206, 19, 19, 0.4);
    }
  }
  p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  input{
    margin-bottom: 60px;
    width: 320px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #000000;
    color: #202020;
    font-weight: 600;
    box-shadow: 0 0 15px rgba(255, 255, 255, .5);
    transition: all .35s linear;
    &:focus, &:hover{
      box-shadow: 0 0 20px rgba(255, 255, 255, 1);
      outline: none;
    }
    &::placeholder{
      font-size: 14px;
      font-weight: 400;
    }
  }
  h2{
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  }
}
/* <------------> */
/* // MAIN */
/* <------------> */

/* <------------> */
/* PROJECTS */
/* <------------> */

.projects{
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  .projectsBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
    .item{
      display: flex;
      gap: 15px;
      background-color: rgba(255, 255, 255, .25);
      border: 1px solid rgba(255, 255, 255, 0.45);
      border-radius: 15px;
      padding: 15px;
      text-align: left;
      width: 30%;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      cursor: pointer;
      transition: all .3s ease-in-out;
      box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.3);
      &:hover{
        background-color: rgba(255, 255, 255, .45);
        border: 1px solid rgba(255, 255, 255, 1);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      }
      .bio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        .nameSector{
          display: flex;
          flex-direction: column;
        }
      }
      img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      span{
        font-size: 20px;
        font-weight: 500;
      }
      small{
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  .button{
    width: 160px;
    padding: 10px;
    &.blinking{
      animation: blinking 1.5s linear infinite;
      @keyframes blinking {
        0%{
          border: 1px solid rgba(255, 255, 255, 0.45);
        }
        50%{
          border: 1px solid rgba(255, 255, 255, 1);
        }
        100%{
          border: 1px solid rgba(255, 255, 255, 0.45);
        }
      }
    }
  }
}

/* <------------> */
/* //PROJECTS */
/* <------------> */

/* <------------> */
/* //FOOTER */
/* <------------> */

footer{
  padding: 10px 0;
  p a{
    display: inline;
    background: -webkit-linear-gradient(65deg , #a20e0e, #ef0505);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
      width: 30px;
      height: 30px;
      opacity: .5;
    }
  }
}

/* <------------> */
/* //FOOTER */
/* <------------> */

