@import "general";

/* <------------> */
/* FORM PAGE */
/* <------------> */

.submitBox{
  padding: 50px 0;
  .inputBox, .selectSectorBtn, .textAreaBox{
    margin: auto auto 30px auto;
    text-align: left;
    max-width: 400px;
    width: 100%;
    position: relative;
  }
  .inputBox, .textAreaBox{
    &:focus-within{
      label{
        top: -22px;
        color: $white;
      }
    }
    label{
      cursor: text;
    }
    input, textarea{
      resize: none;
      width: 100%;
      &.required{
        animation: required 1.5s linear infinite;
      }
    }
    textarea{
      transition: all .5s ease-in-out;
      height: 110px;
      line-height: 110%;
      &.resized100{
        height: 200px;
      }
      &.resized200{
        height: 300px;
      }
      &.resized300{
        height: 400px;
      }
      &.resized400{
        height: 500px;
      }
    }
  }
  .selectSectorBtn{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    padding: 10px;
    transition: all .5s ease-in-out;
    &.valueIsSelected{
      padding: 12.6px 10px;
      &:has(button) .selectSectorBtnValue:first-of-type{
        margin-top: 5px;
        padding-top: 5px;
        border-top: 1px solid rgba(0, 0, 0, .2);
      }
    }
    label{
      cursor: pointer;
    }
    .selectSectorBtnValue{
      font-size: 14px;
      font-weight: 400;
      width: 100%;
      padding-bottom: 5px;
      color: $placeholderColor;
      transition: all .3s ease-in-out;
      border-bottom: 1px solid rgba(0, 0, 0, .2);
      &:last-of-type{
        border-bottom: none;
        padding-bottom: 0;
      }
      &:hover{
        color: $dark;
      }
    }
  }
  @include max-screen(700px){
    .inputBox, .selectSectorBtn, .textAreaBox{
      max-width: calc(100vw - 15px);
    }
  }
}

/* <------------> */
/* //FORM PAGE */
/* <------------> */

/* <------------> */
/* SUCCESS PAGE */
/* <------------> */

.successPage{
  padding: 50px 0;
  text-align: center;
  min-height: calc(100vh - 185px);
  h1{
    font-size: 60px;
    span{
      margin-left: 0;
    }
  }
  .button{
    display: inline-block;
  }
  @include max-screen(400px){
    h1{
      font-size: 16vw;
    }
  }
}

/* <------------> */
/* //SUCCESS PAGE */
/* <------------> */

/* <------------> */
/* ANIMATIONS */
/* <------------> */
@keyframes required {
  0%{
    border: 1px solid #000000;
    box-shadow: 0 0 15px rgba(255, 255, 255, .5);
  }
  50%{
    border: 1px solid #ff0000;
    box-shadow: 0 0 20px rgb(255, 0, 0);

  }
  100%{
    border: 1px solid #000000;
    box-shadow: 0 0 15px rgba(255, 255, 255, .5);

  }
}